<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Email</title>

    <style>
        body {
            margin: 0;
            padding: 0;
        }
        header {
            background-color: blue;
            width: 100%;
            padding: 60px;
        }

        main {
            background-color: ;
            padding-left: 60px;
            padding-right: 60px;
        }

        footer {
            background-color: blue;
            width: 100%;
            padding: 60px;
        }

    </style>
</head>
<body>
    <header>

    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>