
spring:
  config:
    import: optional:file:.env[.properties]
  sql:
    init:
      continue-on-error: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 20000
      initialization-fail-timeout: -1
  mail:
      host: ${MAIL_HOST}
      port: ${MAIL_PORT}
      username: ${MAIL_USERNAME}
      password: ${MAIL_PASSWORD}
      protocol: smtp
      properties:
          mail:
            smtp:
              auth: true
              starttls:
                enable: true
jwt:
  public:  ${JWT_PUBLIC}
  private: ${JWT_PRIVATE}

